{{#if user}}
<div class="container p-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container rounded py-3 bg-dark text-white">
            <h1 style="text-align: center;">Welcome to the Paternoster site</h1>
        </div>
</div>
{{else}}
<div class="container p-5 h-100 d-flex align-items-center justify-content-center">
        <div class="container rounded py-3 bg-dark text-white">
            <h1 style="text-align: center;">Welcome to the Paternoster site</h1>
            <h1 style="text-align: center;">Login and start using the app</h1>
        </div>
</div>
{{/if}}
